<div id="footer">
  <div class="container">
    <div class="row">
      <div class="one-third column">
        <h4>Company Logo</h4>
        <p>
          <a href="mailto:info@company.com">info@company.com</a>
          <br>
          </br>
          123.456.7890
        </p>
        <p>
          <a class="button important" href="#">Contact Us</a>
        </p>
      </div>
      <div class="one-third column">
        <h4>Text Two</h4>
        <p>
          Text block for column two to
          share more about the organization
          and what it’s all about. Text block
          for column two to share more about
          the organization and what it’s
          all about.
        </p>
        <p class="copyright">Copyright © 2012 Company Name.<br />All Rights Reserved.</p>
      </div>
      <div class="one-third column">
        <ul class="navigation">
          <li>
            <a href="#" title="<%=  "" %>">About</a>
          </li>
          <li>
            <a href="#" title="<%=  "" %>">Locations</a>
          </li>
          <li>
            <a href="#" title="<%=  "" %>">Services</a>
          </li>
          <li>
            <a href="#" title="<%=  "" %>">Benefits</a>
          </li>
          <li>
            <a href="#" title="<%=  "" %>">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
